extends ./templates/layout
include ./mixins/video

block content
  section.home__container 
    h1.sr-only You can search some videos on this page.
    each video in videos
      .video__align
        +video(video)
    else 
      .msg__notice
        h1 Nothing Found.
        h2 Upload videos!

block scripts 
  script(src='/assets/js/toggleNavbar.js')