extends ../templates/layout

block content
  section.input-forms__container 
    h1.sr-only Change my password from the below form.
    if errMsg 
      h2=errMsg
    .input-forms__box
      h1.input-forms__title=pageTitle
      form(method='post').input-forms__form
        label(for="current").input-forms__label Current Password
        input(type="password", name="current", placeholder='Enter current password' required).input-forms__input
        label(for="changed").input-forms__label New Password
        input(type="password", name="changed", placeholder='Enter new password' required).input-forms__input
        label(for="confirm").input-forms__label  Confirm Password
        input(type="password", name="confirm", placeholder='Confirm new password' required).input-forms__input
        input(type="submit", value="Change Password")

block scripts 
  script(src='/assets/js/toggleNavbar.js')